# Node modules
node_modules/

# Build output
build/
src/truffle_abis/

# Environment files
.env

# OS-specific
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build
dist/
coverage/

# Tailwind JIT cache
.tailwind/

# IDE 설정
.vscode/
.idea/

# MacOS, Linux, Windows
*.swp
*.swo
*.bak
*.tmp
Thumbs.db

# Truffle / Hardhat artifacts
artifacts/
cache/
typechain/
*.tsbuildinfo

# NVM
.nvmrc

# 기타 환경
.env.local
.env.production
.env.development
.env.test
